.custom-button {
    width: 75%;
    margin: 1rem auto;
    border: 2px solid #f0801c;
    border-radius: 0.4rem;
    color: #f0801c;
    background-color: white;
    transition: all 0.5s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.custom-button:hover {
    color: white;
    background-color: #f0801c;
    cursor: pointer;
    transform: translateY(-2px);
}

main {
    width: 50dvw;
    padding: 0 2rem;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
}