main {
    width: 50dvw;
    margin: 1rem auto;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

#mineur-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2rem auto;
    border: 2px solid #f0801c;
    border-radius: 1rem;
}

#mineur-form h2 {
    padding: 1rem 0;
    text-align: center;
    background-color: #f0801c;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
#form-field {
    padding: 1rem;
}
#form-field label {
    color: black;
    transition: all 0.5s;
}
#form-field label:hover {
    color: #f0801c;
}

#generate-email:disabled {
    border: 2px solid silver;
    color: silver;
}
#send-email {
    text-align: center;
    display: none;
}


