#mineur-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    margin: 2rem auto;
    border: 2px solid #f0801c;
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

#mineur-form h2 {
    padding: 1rem 0;
    text-align: center;
    background-color: #f0801c;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#checkAll {
    margin-bottom: 1rem;
}
#labelCheckAll {
    font-weight: bold;
}
.form-field {
    padding: 0 2rem;
}
.form-field label {
    color: black;
    transition: all 0.5s;
}
.form-field label:hover {
    color: #f0801c;
}

.form-field input[type="email"] {
    margin: 1rem 0;
    width: 60%;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    outline: 1px solid #f0801c;
    border: none;
}

input[type="checkbox"] {
    accent-color: #f0801c;
}

#generate-email:disabled {
    border: 2px solid silver;
    color: silver;
}

#generate-email:disabled:hover {
    border: 2px solid silver;
    color: silver;
    cursor: not-allowed;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
#send-email {
    text-align: center;
    display: none;
}


